
    .contentContainer {
        font: 17px arial;
    }
    .container {
    }

    #divListContainer {
        float: left;
        margin: 50px 50px 0px 0px;
        background-color: #ffff99;
        width: 400px;
        text-align: center;
        border: 1px solid #efefef;
        -moz-box-shadow: 10px 10px 9px rgba(0, 0, 0, 0.22);
        -webkit-box-shadow: 10px 10px 9px rgba(0, 0, 0, 0.22);
        box-shadow: 10px 10px 9px rgba(0, 0, 0, 0.22);
    }
    #txtListName, #txtAdd, #txtTask {
        width: 99%;
        border: none;
        font: 17px arial;
        background-color: #ffff99;
    }

    #txtAdd {
        background-color: aliceblue;
    }

    #txtTask {
        width:auto;
    }

    #divListContainer ul {
        width: auto;
        background-color: #ffff99;
        list-style: none;
        text-align: left;
        margin: 0px;
        padding:0px;
    }
    #divListContainer ul li{
        cursor:move;
    }
    .strike {
        text-decoration: line-through;
    }
    .taskIsDone {
        background-color:lightcoral;
    }

    .taskIsDone #txtTask {
        background-color: lightcoral;
    }

    #txtTask:focus {
        background-color: lightgreen;
    }

    #divStopLights {
        float:left;
    }

    #divStopLights div {
        width: 100px;
        height: 100px;
        text-align: center;
        vertical-align: middle;
    }

    #divGreen {
        background-color: green;
        color: black;
    }

    #divYellow {
        background-color: yellow;
        color: black;
    }

    #divRed {
        background-color: red;
        color: black;
    }

    #divInfo {
        clear:both;
        float:left;
    }

    @@keyframes blink {
        0% {
            opacity: 1.0;
        }

        50% {
            opacity: 0.0;
        }

        100% {
            opacity: 1.0;
        }
    }

    @@-webkit-keyframes blink {
        0% {
            opacity: 1.0;
        }

        50% {
            opacity: 0.0;
        }

        100% {
            opacity: 1.0;
        }
    }

    .blink {
        animation: blink 1s step-start 0s infinite;
        -webkit-animation: blink 1s step-start 0s infinite;
    } 