@{
    ViewBag.Title = "OneMonthSpanish";
}
@section scripts{
 
<script>
    var pop = Popcorn("#greeting");
    var wordTimes2 = {
        "w1": { start: 1, end: 1.5 },
        "w2": { start: 1.9, end: 2.5 },
        "w3": { start: 3, end: 4 }
    };
    $.each(wordTimes2, function (id, time) {
        pop.footnote({
            start: time.start,
            end: time.end,
            text: '',
            target: id,
            effect: "applyclass",
            applyclass: "selected"
        });
    });
    //pop.play();
    
    $('.word2').click(function () {
        var audio = $('#greeting');
        audio[0].currentTime = parseFloat($(this).data('start'), 10);
        audio[0].play();
    });



    var sync = Popcorn("#teXiCan");
    var phraseTimes = {
        "phrase1": { start: 10, end: 10.9 },
        "phrase2": { start: 11.0, end: 11.9 },
        "phrase3": { start: 12, end: 13.4 },
        "phrase4": { start: 13.5, end: 14.9 },
        "phrase5": { start: 15.0, end: 16.2 },
        "phrase6": { start: 16.3, end: 17.9 },
        "phrase7": { start: 18, end: 18.9 },
        "phrase8": { start: 19, end: 19.9 },
        "phrase9": { start: 18, end: 18.9 },
        "phrase10": { start: 19, end: 19.9 },
        "phrase11": { start: 20, end: 20.9 },
        "phrase12": { start: 3, end: 4 },
        "phrase13": { start: 3, end: 4 },
        "phrase14": { start: 3, end: 4 },
        "phrase15": { start: 3, end: 4 },
        "phrase16": { start: 3, end: 4 },
        "phrase17": { start: 3, end: 4 },
        "phrase18": { start: 3, end: 4 },
        "phrase19": { start: 3, end: 4 },
        "phrase20": { start: 3, end: 4 },
        "phrase21": { start: 3, end: 4 },
        "phrase22": { start: 3, end: 4 },
        "phrase23": { start: 3, end: 4 },
        "phrase24": { start: 3, end: 4 },
        "phrase25": { start: 3, end: 4 },
        "phrase26": { start: 3, end: 4 },
        "phrase27": { start: 3, end: 4 }
    };

    $.each(phraseTimes, function (id, time) {
        sync.footnote({
            start: time.start,
            end: time.end,
            text: '',
            target: id,
            effect: "applyclass",
            applyclass: "selected"
        });
    });


    $('.word').click(function () {
        var audio = $('#teXiCan');
        audio[0].currentTime = parseFloat($(this).data('start'), 10);
        audio[0].play();
    });

</script>   
}

<style>
.word, .word2 {
   color: red;
}
.word:hover, .word.selected, .word2:hover, .word2.selected {
    color: blue;
    cursor: pointer;
}
</style>

<div class="col-lg-12">

    <audio id="greeting" src="http://dl.dropbox.com/u/17154625/greeting.ogg" controls></audio>

    <div id="text">
        <span id="w1" class="word2" data-start="1.0">Hello</span>,
        and <span id="w2" class="word2" data-start="2.0">welcome</span>
        to Stack <span id="w3" class="word2" data-start="3.0">Overflow</span>.
        Thank you for asking your question.
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
<div class="col-lg-12">
    <audio id="teXiCan" controls="controls">
        <source src="http://audio.onemonthspanish.com/Unit+3+-+Basic+Dialogue.mp3" type="audio/mpeg">
        Your browser does not support HTML5 audio.
    </audio>
    <p><strong>Unit 3 - Full Dialogue</strong><br><em>Listen to the complete dialogue at full speed.</em></p>

</div>



<div class="col-lg-12">
    <span id="phrase1" class="word" data-start="1.0">¿Le gusta el cuarto?</span>
    <br />
    <span id="phrase2" class="word" data-start="1.0">Sí, me gusta.</span>
    <br />
    <span id="phrase3" class="word" data-start="1.0">¿Quiere usted agua mineral?</span>
    <br />
    <span id="phrase4" class="word" data-start="1.0">Sí, súbamela después.</span>
    <br />
    <span id="phrase5" class="word" data-start="1.0">¿Necesita algo más?</span>
    <br />
    <span id="phrase6" class="word" data-start="1.0">Sí.¿Está la Embajada Americana cerca de aquí?</span>
    <br />
    <span id="phrase7" class="word" data-start="1.0">No. Está lejos. En la avenida Independencia.</span>
    <br />
    <span id="phrase8" class="word" data-start="1.0">Hay que tomar un taxi.</span>
    <br />
    <span id="phrase9" class="word" data-start="1.0">Gracias. Aquí tiene.</span>
    <br />
    <span id="phrase10" class="word" data-start="1.0">Muchas gracias, señorita.</span>
    <br />
    <span id="phrase11" class="word" data-start="1.0">¿Baja en el ascensor?</span>
    <br />
    <span id="phrase12" class="word" data-start="1.0">Sí, ahora mismo.</span>
    <br />
    <span id="phrase13" class="word" data-start="1.0">¿Dónde está la caja?</span>
    <br />
    <span id="phrase14" class="word" data-start="1.0">En el primer piso, a la derecha de la entrada. </span>
    <br />
    <span id="phrase15" class="word" data-start="1.0">(Srta. Smith baja en el ascensor y se acerca a la caja) </span>
    <br />
    <span id="phrase16" class="word" data-start="1.0">¿Puede cambiarme unos dólares?</span>
    <br />
    <span id="phrase17" class="word" data-start="1.0">Sí. ¿Cuántos?</span>
    <br />
    <span id="phrase18" class="word" data-start="1.0">Cincuenta. ¿A cómo está el cambio?</span>
    <br />
    <span id="phrase19" class="word" data-start="1.0">¿En billetes o en cheque?</span>
    <br />
    <span id="phrase20" class="word" data-start="1.0">Este cheque viajero.</span>
    <br />
    <span id="phrase21" class="word" data-start="1.0">A cinco por uno, entonces.</span>
    <br />
    <span id="phrase22" class="word" data-start="1.0">¿Cómo lo quiere?</span>
    <br />
    <span id="phrase23" class="word" data-start="1.0">Doscientos en billetes y cincuenta en moneda.</span>
    <br />
    <span id="phrase24" class="word" data-start="1.0">¿Cuánto cuesta un taxi a la Embajada</span>
    <br />
    <span id="phrase25" class="word" data-start="1.0">Americana ?</span>
    <br />
    <span id="phrase26" class="word" data-start="1.0">Veinticinco pesos, más o menos.</span>
    <br />
    <span id="phrase27" class="word" data-start="1.0">Gracias por la información.</span>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>