@{
    ViewBag.Title = "Dorba";
    Layout = null;
}


<!DOCTYPE html>
<html>
    <head>

        <title>Dorba Phone (responsive web)</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <meta name="description" content="" />
        <meta name="keywords" content="" />

        <meta property="og:title" content="" />
        <meta property="og:image" content="" />
        <meta property="og:site_name" content="" />
        <meta property="og:description" content="" />
        <meta property="og:site_name" content="" />
        <meta property="og:description" content="" />

        <meta name="apple-mobile-web-app-title" content="HarrisTeq">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-touch-fullscreen" content="yes">

        <link href="~/css/bootstrap/bootstrap.css" rel="stylesheet" />

    </head>


    <body ng-app="harristeqApp">

        <style>
            .plan {
                background-color: #edf1f2;
                overflow: auto;
                border-radius: 4px;
                margin-bottom: 60px;
                padding-bottom: 30px;
            }

            .plan .plan-header {
                background-color: #23b7e5;
                color: #fff;
                margin: 0;
                padding: 20px 10px;
                text-align: center;
            }

            h3 {
                font-size: 24px;
                line-height: 38px;
            }

             .plan .plan-price {
  background: #fff;
  padding: 16px 8px;
  text-align: center;
}

.plan .plan-features {
  list-style-type: none;
  padding-left: 0;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: left;
}




        </style>


        <div id="divTrailContainer" ng-controller="dorbaController">
            <div class="container">
                
                <div class="plan">
                    <h3 class="plan-header">Single</h3>
                    <div class="plan-price">
                        <h2>
                            <sup><small>$</small></sup>18
                            <!--<span class="plan-period">/mo</span>-->
                        </h2>
                    </div>
                    <ul class="plan-features">
                        <li>
                            <em class="fa fa-check"></em>Unlimited Styles
                        </li>
                        <li>
                            <em class="fa fa-check"></em>RTL &amp; Translation
                        </li>
                        <li>
                            <em class="fa fa-check"></em>Customer support
                        </li>
                        <li>
                            <em class="fa fa-check"></em>Free Updates
                        </li>
                        <li>
                            <em class="fa fa-check"></em>Limited to one client
                        </li>
                        <li>
                            <em class="fa fa-times plan-feature-disable"></em>Multiple installation
                        </li>
                        <li>
                            <em class="fa fa-times plan-feature-disable"></em>Not ready for resale
                        </li>
                    </ul>
                    <hr>
                    <div class="text-center">
                        <button type="button" class="btn btn-theme">Choose</button>
                    </div>
                </div>
                

                <div class="row">
                    <div class="col-lg-4">

                    </div>
                    <div class="col-lg-8">

                    </div>
                </div>
            </div>

        </div>
        
        

    
        @Scripts.Render("~/bundles/jquery")
        <script src="~/Scripts/jquery-ui-1.11.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/vendor/jquery.cookie.js"></script>

        @*<script src="~/Scripts/libs/typeahead.bundle.min.js"></script>*@
        <script src="~/Scripts/libs/typeahead.js"></script>
        <script src="~/Scripts/underscore.js"></script>

        <script src="~/Scripts/angular.js"></script>
        <script src="~/Scripts/angular-route.js"></script>
        <script src="~/Scripts/ng-grid.js"></script>
        <script src="~/Scripts/home/harristeqApp.js"></script>
        <script src="~/Scripts/home/harristeqDirectives.js"></script>
        <script src="~/Scripts/home/harristeqSvc.js"></script>
        <script src="~/Scripts/home/harristeqController.js"></script>
        <script src="~/Scripts/home/dorbaPhoneController.js"></script>
    </body>

</html>
