@{
    ViewBag.Title = "CalendarDemo";
}
<link href="~/Content/harristeq.css" rel="stylesheet" />

<style>
    .calColumn {
        background-color: aliceblue;
        width: 36px;
        text-align: center;
        cursor: pointer;
    }
    .calColumn.alt {
        background-color: #efefef;
    }
    .alt {
        
    }

    #topTable {
        /*border:1px solid red;*/ 
        padding: 0px;
        height: 100px; 
        width: 100%;
        margin: 0px;
        border-bottom: 1px silver solid;
    }

    #tdColScrollSpacer {
        background-color: #ffffff;
    }
    #divScroll {
        width:100%; 
        height: 200px; 
        overflow: auto; 
    }
    
    .dayLabel{}
    .dayLabel div {
        margin-left: auto;
        margin-right: auto;
        margin-top: 2px;
    }
    .dateLabel{}
    .dateLabel div {
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
    }
    .alertLevel1 {
        text-align: center;
    }
    .alertLevel1 div.colAlert {
        width: 20px;
        background-color: orange;
        color: whitesmoke;
        border-radius: 3px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
    }
    .alertLevel2{}
    .alertLevel2 div.colAlert {
        width: 20px;
        background-color: red;
        color: whitesmoke;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
    }
    .alertLevel3{}
    .alertLevel3 div.colAlert {
        width: 20px;
        background-color: darkolivegreen;
        color: whitesmoke;
        border-radius: 3px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .weekend, .alt.weekend {
        background-color: gainsboro;
    }
    .weekend.selected, .alt.weekend.selected, .calColumn.selected {
        background-color: lightsteelblue;
        color: white;
    }   
    
    .taskCell {
        width: 36px;
    }
    .taskItem {
        border-left: 2px solid red;
        border-right: 2px solid red;
        border-top: 1px dashed silver;
        border-bottom: 1px dashed silver;
        padding: 0px 5px 0px 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        background-color: oldlace;
        width: 100%;
        border-radius: 5px;
        cursor: pointer;
    }
    .taskRow{
        height: 15px;
    }
    .taskRow:after {
        content: "";
        display: table;
        clear: both;
    }
    .taskItem.selected {
        background-color: orange;
        color: white;
    }
    .prevNext {
        cursor: pointer; 
        float: left; 
        height: 25px; 
        margin-top: 3px; 
    }
    .prevNext:hover {
        background-color: lightsteelblue;
    }
</style>

<div class="contentContainer" ng-controller="calendarController">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <table id="topTable" style="">
                    <tr>
                        <td colspan="32" ng-cloak>
                            <img src="~/images/chevron-left.png" ng-click="getPreviousMonth()" class="prevNext" style="margin-right: 10px;" />
                            <h2 style="margin-top:0px; float: left;">{{monthName}} {{year}}</h2>
                            <img src="~/images/chevron-right.png" ng-click="getNextMonth()" class="prevNext" style="margin-left: 10px;" />
                        </td>
                    </tr>
                    <tr>
                        <td ng-repeat="colHeader in colHeaders" id="tdCol{{$index}}" 
                            class="calColumn" 
                            ng-click="colHeader.Selected = !colHeader.Selected"
                            ng-class="{alt: $index % 2 == 1, weekend: colHeader.Day=='Sa' || colHeader.Day=='Su', selected: colHeader.Selected}">
                            <div class="dayLabel">
                                <div ng-bind="colHeader.Day"></div>
                            </div>
                            <div class="dateLabel">
                                <div ng-bind="colHeader.Date"></div>
                            </div>
                            <div class="alertLevel1">
                                <div class="colAlert" ng-bind="colHeader.Alert1" ng-show="colHeader.Alert1 != 0"></div>
                                <div style="width:20px;margin-top: 5px" ng-show="colHeader.Alert1 == 0">&nbsp;</div>
                            </div>
                            <div class="alertLevel2">
                                <div class="colAlert" ng-bind="colHeader.Alert2" ng-show="colHeader.Alert2 != 0"></div>
                                <div style="width:20px;margin-top: 5px" ng-show="colHeader.Alert2 == 0">&nbsp;</div>
                            </div>
                            <div class="alertLevel3">
                                <div class="colAlert" ng-bind="colHeader.Alert3" ng-show="colHeader.Alert3 != 0"></div>
                                <div style="width:20px;margin-top: 5px; margin-bottom: 5px;" ng-show="colHeader.Alert3 == 0">&nbsp;</div>
                            </div>
                        </td>
                        
                        <td id="tdColScrollSpacer">&nbsp;</td>
                    </tr>
                </table>

                <div id="divScroll" style="position: absolute;">
                    <table style="border:none; padding: 0px; height: 800px; width: 100%; position:absolute;">
                        <tr>
                            <td ng-repeat="colHeader in colHeaders"
                                id="tdColBack{{$index}}"
                                class="calColumn"
                                ng-class="{alt: $index % 2 == 1, weekend: colHeader.Day=='Sa' || colHeader.Day=='Su', selected: colHeader.Selected}">
                                &nbsp;
                            </td>

                            <td id="tdColScrollSpacer2">&nbsp;</td>
                        </tr>
                    </table>
                    <table style="width:100%; padding:0px; position:absolute; z-index: 100; height: 500px;">
                        <tr>
                            <td style="width:1116px; vertical-align: top;" ng-cloak>
                                <div class="taskRow" ng-repeat="task in tasks">
                                    <div style="width:{{(task.StartDate - 1) * 36}}px; float: left;height: 30px;" ng-show="task.StartDate > 1">&nbsp;</div>
                                    <div style="width:{{(task.EndDate - task.StartDate + 1) * 36}}px;padding-left:5px;padding-right: 5px; float: left;height: 30px;">
                                        <div class="taskItem" ng-bind="task.Name" ng-click="task.Selected = !task.Selected" ng-class="{selected: task.Selected}"></div>
                                    </div>
                                    <div style="width:{{(numberOfDaysInMonth - task.EndDate - 1) * 36}}px; float: left; height: 30px;" ng-show="task.EndDate != numberOfDaysInMonth">&nbsp;</div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

