@{
    ViewBag.Title = "CalendarDemo";
}
<link href="~/Content/harristeq.css" rel="stylesheet" />

<style>
    .calColumn {
        background-color: gainsboro;
        width: 25px;
        text-align: center;
    }
    .calColumn.alt {
        background-color: aliceblue;
    }
    .alt {
        
    }

    #topTable {
        /*border:1px solid red;*/ 
        padding: 0px;
        height: 100px; 
        width: 100%;
        margin: 0px;
    }

    #tdColScrollSpacer {
        width:11px; 
        background-color: #ffffff;
    }
    #divScroll {
        width:100%; 
        height: 500px; 
        overflow: auto; 
    }
    
    .dayLabel{}
    .dayLabel div {
        margin-left: auto;
        margin-right: auto;
        margin-top: 2px;
    }
    .dateLabel{}
    .dateLabel div {
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
    }
    .alertLevel1 {
        text-align: center;
    }
    .alertLevel1 div.colAlert {
        width: 20px;
        background-color: orange;
        color: whitesmoke;
        border-radius: 3px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
    }
    .alertLevel2{}
    .alertLevel2 div.colAlert {
        width: 20px;
        background-color: red;
        color: whitesmoke;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
    }
    .alertLevel3{}
    .alertLevel3 div.colAlert {
        width: 20px;
        background-color: darkolivegreen;
        color: whitesmoke;
        border-radius: 3px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
    }
    .weekend, .alt.weekend {
        background-color: yellow;
    }

</style>

<div class="contentContainer" ng-controller="calendarController">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <table id="topTable" style="">
                    <tr>
                        <td ng-repeat="colHeader in colHeaders" id="tdCol{{$index}}" class="calColumn" ng-class="{alt: $index % 2 == 1, weekend: colHeader.Day=='Sa' || colHeader.Day=='Su'}">
                            <div class="dayLabel">
                                <div ng-bind="colHeader.Day"></div>
                            </div>
                            <div class="dateLabel">
                                <div ng-bind="colHeader.Date"></div>
                            </div>
                            <div class="alertLevel1">
                                <div class="colAlert" ng-bind="colHeader.Alert1" ng-show="colHeader.Alert1 != 0"></div>
                                <div style="width:20px;margin-top: 5px" ng-show="colHeader.Alert1 == 0">&nbsp;</div>
                            </div>
                            <div class="alertLevel2">
                                <div class="colAlert" ng-bind="colHeader.Alert2" ng-show="colHeader.Alert2 != 0"></div>
                                <div style="width:20px;margin-top: 5px" ng-show="colHeader.Alert2 == 0">&nbsp;</div>
                            </div>
                            <div class="alertLevel3">
                                <div class="colAlert" ng-bind="colHeader.Alert3" ng-show="colHeader.Alert3 != 0"></div>
                                <div style="width:20px;margin-top: 5px" ng-show="colHeader.Alert3 == 0">&nbsp;</div>
                            </div>
                        </td>
                        
                        <td id="tdColScrollSpacer">&nbsp;</td>
                    </tr>
                </table>

                <div id="divScroll" style="">
                    <table style="border:none; padding: 0px; height: 800px; width: 100%">
                        <tr>
                            <td id="tdCol1" class="calColumn">r</td>
                            <td id="tdCol2" class="calColumn alt"></td>
                            <td id="tdCol3" class="calColumn"></td>
                            <td id="tdCol4" class="calColumn alt"></td>
                            <td id="tdCol5" class="calColumn"></td>
                            <td id="tdCol6" class="calColumn alt"></td>
                            <td id="tdCol7" class="calColumn"></td>
                            <td id="tdCol8" class="calColumn alt"></td>
                            <td id="tdCol9" class="calColumn"></td>
                            <td id="tdCol10" class="calColumn alt"></td>
                            <td id="tdCol11" class="calColumn"></td>
                            <td id="tdCol12" class="calColumn alt"></td>
                            <td id="tdCol13" class="calColumn"></td>
                            <td id="tdCol14" class="calColumn alt"></td>
                            <td id="tdCol15" class="calColumn"></td>
                            <td id="tdCol16" class="calColumn alt"></td>
                            <td id="tdCol17" class="calColumn"></td>
                            <td id="tdCol18" class="calColumn alt"></td>
                            <td id="tdCol19" class="calColumn"></td>
                            <td id="tdCol20" class="calColumn alt"></td>
                            <td id="tdCol21" class="calColumn"></td>
                            <td id="tdCol22" class="calColumn alt"></td>
                            <td id="tdCol23" class="calColumn"></td>
                            <td id="tdCol24" class="calColumn alt"></td>
                            <td id="tdCol25" class="calColumn"></td>
                            <td id="tdCol26" class="calColumn alt"></td>
                            <td id="tdCol27" class="calColumn"></td>
                            <td id="tdCol28" class="calColumn alt"></td>
                            <td id="tdCol29" class="calColumn"></td>
                            <td id="tdCol30" class="calColumn alt"></td>
                            <td id="tdCol31" class="calColumn"></td>
                        </tr>
                        <tr>
                            <td id="tdCol1" class="calColumn">d</td>
                            <td id="tdCol2" class="calColumn alt"></td>
                            <td id="tdCol3" class="calColumn"></td>
                            <td id="tdCol4" class="calColumn alt"></td>
                            <td id="tdCol5" class="calColumn"></td>
                            <td id="tdCol6" class="calColumn alt"></td>
                            <td id="tdCol7" class="calColumn"></td>
                            <td id="tdCol8" class="calColumn alt"></td>
                            <td id="tdCol9" class="calColumn"></td>
                            <td id="tdCol10" class="calColumn alt"></td>
                            <td id="tdCol11" class="calColumn"></td>
                            <td id="tdCol12" class="calColumn alt"></td>
                            <td id="tdCol13" class="calColumn"></td>
                            <td id="tdCol14" class="calColumn alt"></td>
                            <td id="tdCol15" class="calColumn"></td>
                            <td id="tdCol16" class="calColumn alt"></td>
                            <td id="tdCol17" class="calColumn"></td>
                            <td id="tdCol18" class="calColumn alt"></td>
                            <td id="tdCol19" class="calColumn"></td>
                            <td id="tdCol20" class="calColumn alt"></td>
                            <td id="tdCol21" class="calColumn"></td>
                            <td id="tdCol22" class="calColumn alt"></td>
                            <td id="tdCol23" class="calColumn"></td>
                            <td id="tdCol24" class="calColumn alt"></td>
                            <td id="tdCol25" class="calColumn"></td>
                            <td id="tdCol26" class="calColumn alt"></td>
                            <td id="tdCol27" class="calColumn"></td>
                            <td id="tdCol28" class="calColumn alt"></td>
                            <td id="tdCol29" class="calColumn"></td>
                            <td id="tdCol30" class="calColumn alt"></td>
                            <td id="tdCol31" class="calColumn"></td>
                        </tr>
                    </table>



                </div>

            </div>
        </div>
    </div>
</div>

