@{
    ViewBag.Title = "DTAssignment";
}

@section scripts{
    <script>

        var sumTheStuff = function() {
            var txtInput = document.getElementById("txtInput");
            var vals = txtInput.value;
            var peopleUntyped = vals.split("\n");
            var people = [];
            var self = {};
            var j = 0;

            for (var i = 0; i < peopleUntyped.length; i++) {
                var row = peopleUntyped[i].trim();

                if (row != "") {
                    //parse out name value pairs
                    var name = row.substring(0, row.indexOf(","));
                    var val = row.substring(row.indexOf(",") + 1, row.length);

                    var dynamicProperty;
                    if (name in self) {
                        //kind of a hack to poll a dictionary for it's value
                        // * 1 will force the string to a number
                        dynamicProperty = eval("self." + name) * 1;
                        dynamicProperty = dynamicProperty + (val * 1);

                        //kind of a hack to set a dictionary for it's value
                        eval("self." + name + " = " + dynamicProperty);

                    } else {
                        //kind of a hack to create a dictionary
                        Object.defineProperty(self, name, {
                            enumerable: false,
                            configurable: false,
                            writable: true,
                            value: val
                        });

                        //adding only new items to the array so i don't have to poll the dynamic property
                        people[j] = name;
                        j++;
                    }
                }
            }

            var output = "";
            for (var i = 0; i < people.length; i++) {
                name = people[i];

                //kind of a hack to get the values out of a dictionary
                output = output + " The total for " + name + " is " + eval("self." + name) + ".";
            }
            document.getElementById("output").innerText = output;
        };

        var isPalindrome = function (stuff) {
            //first just get the raw chars and strip out all non alpha num
            var justTheChars = stuff.toLowerCase().replace(/[^a-z0-9]/gi, '');
            console.log(justTheChars);

            //only looping once just compare the chars from front to back and back to front and exit loop if they don't match
            for (var i = 0; i < justTheChars.length; i++) {
                console.log("from the start char", justTheChars.charAt(i));
                console.log("from the end char", justTheChars.charAt(justTheChars.length - 1 - i));
                if (justTheChars.charAt(i) != justTheChars.charAt(justTheChars.length - 1 - i)) {
                    return false;
                }
            }
            return true;
        };

        var palindromeTheStuff = function () {
            var result = isPalindrome(document.getElementById("txtInput2").value);

            document.getElementById("output2").innerText = "This is" + (result==false ? " NOT " : " ") + "a palindrome";
        };
    </script>
}

<div class="contentContainer">
    <div class="container">
        <div style="display: none;">
            1) Key Counts
            Create an html page with a text-area and a button to sum up key counts in the text
            area. Each line of the text area is expected to contain data in the format of 'key,
            count' where the count is parse-able into an integer. The text area should have the
            following default value:
            'John,2
            Jane,3
            John,4
            Jane,5'
            When the button is pressed the results of the summation should be displayed.
            The default value should result in the output: 'The total for John is 6. The total for
            Jane is 8.'

            2) Palindrome Detection
            Create an html page with an input field and a button to determine if the input field
            contains a palindrome. A palindrome is a word or phrase that is spelled exactly the
            same forwards or backwards, like "pop" or "Ah, Satan sees Natasha". Your code
            should ignore all non-alphanumeric characters and assume that upper-and lowercase
            characters are identical. When the button is pressed the the result of whether
            or not the input is a palindrome should be displayed.
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="header">
                    Summary Test
                </div>
                <div class="well">
                    <textarea id="txtInput" style="width:100%; height: 100px;">
                        John,2
                        Jane,3
                        John,4
                        Jane,5
                    </textarea>    
                    <button onclick="sumTheStuff()">Do the summary</button>
                </div>
                <div id="output"></div>
                <br/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="header">
                    Palindrome Test
                </div>
                <div class="well">
                    <input id="txtInput2" type="text" style="width:100%;" value="Ah, Satan sees Natasha" />
                    <button onclick="palindromeTheStuff()">Do the palindrome</button>
                </div>
                <div id="output2"></div>
            </div>
        </div>
    </div>
    
</div>

