
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.navbar-default {
  background-color: #383838;
  border-color: #5F5F5F;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #383838;
}


.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #5F5F5F;
    border: none;
}


.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #383838;
}

.navbar-default .navbar-toggle {
  border-color: #5F5F5F;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #5F5F5F;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #efefef;
  background-color: transparent;
}
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #383838;
  }

  button.navbar-toggle {
      margin-left: 15px; 
  }
  a.navbar-brand {
      padding-left: 0px;
  }
  
@media (max-width: 768px) {
  #tabletSearch {
    display: none;
  }
}

@media (min-width: 768px) {
  #phoneSearch {
    display: none;
  }
}

.navbar-brand {
    float: left;
}
.navbar-toggle {
    float: left;
}
/*#phoneSearch .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}*/
#phoneSearch.navbar-default .navbar-collapse, #phoneSearch.navbar-default .navbar-form {
    border: none;
}

#phoneSearch.navbar-form {
    padding: 7px 5px 5px 5px;
    border: none;
    margin: 0px -15px 0px -15px;
}







span.twitter-typeahead {
  width: 100%;
}
.input-group span.twitter-typeahead {
  display: block !important;
}
.input-group span.twitter-typeahead .tt-dropdown-menu {
  top: 32px !important;
}
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
  top: 44px !important;
}
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
  top: 28px !important;
}













